<div class="way-duplicata">
  <div class="cedente">
    <span class="bol-field">{{cedente.nome}}</span> <br />
    <span class="bol-label">Tel.: </span>
    <span class="bol-field">{{cedente.telefone}}</span> <br />
    <span class="bol-field">{{cedente.site}}</span> <br />
  </div>
  <div class="dados-cedente"> <br /><br />
    <span class="bol-label">Razão Social: </span>
    <span class="bol-field">{{cedente.razaoSocial}}</span> <br />
    <span class="bol-label">CNPJ: </span>
    <span class="bol-field">{{cedente.cadastroRFB}}</span> <br />
    <span class="bol-label">Endereço: </span>
    <span class="bol-field">{{cedente.endereco}} - {{cedente.bairro}}</span> <br />
    <span class="bol-label">Município / UF: </span>
    <span class="bol-field">{{cedente.cidade}} - {{cedente.estado}}</span>
    <span class="bol-label">CEP: </span>
    <span class="bol-field">{{cedente.cep}}</span> <br />
  </div>
  <div class="fatura"> <br /><br />
    <p>Fatura</p>
    <span class="bol-label">Número: </span>
    <span class="bol-field">{{fatura.numero}}</span> <br />
    <span class="bol-label">Valor:</span>
    <span class="bol-field">{{fatura.valor}}</span> <br />
    <span class="bol-label">Dt Emissão: </span>
    <span class="bol-field">{{fatura.emissao}}</span> <br />
  </div>
  <div class="duplicata"> <br /><br />
    <p>Duplicata</p>
    <span class="bol-label">Número: </span>
    <span class="bol-field">{{titulo.numero}}</span> <br />
    <span class="bol-label">Valor: </span>
    <span class="bol-field">{{titulo.valor}}</span> <br />
    <span class="bol-label">Vencto: </span>
    <span class="bol-field">{{titulo.vencimento}}</span> <br />
  </div>  
    <div class="sacado"> <br /><br />
    <p>"Sacado"</p>
    <span class="bol-label">Razão Social / nome: </span>
    <span class="bol-field">{{sacado.nome}}</span> <br />
    <span class="bol-label">CNPJ/CPF:</span>
    <span class="bol-field">{{sacado.cadastroRFB}}</span> <br />
    <span class="bol-label">Endereco: </span>
    <span class="bol-field">{{sacado.endereco}} - {{sacado.bairro}}</span> <br />
    <span class="bol-label">Município / UF: </span>
    <span class="bol-field">{{sacado.cidade}} - {{sacado.estado}}</span>
    <span class="bol-label">CEP: </span>
    <span class="bol-field">{{sacado.cep}}</span> <br />
    <span class="bol-label">Praça de pagamento: </span>
    <span class="bol-field">A mesma</span> <br />
  </div>
    <div class="extenso"> <br /><br />
    <p>Valor por extenso: </p>
    </div>
  
  
</div>